bucket         = "jtrusty-data-platform-tfstate-development-511492912574-us-east-2"
key            = "data-platform/development/terraform.tfstate"
region         = "us-east-2"
encrypt        = true
kms_key_id     = "arn:aws:kms:us-east-2:511492912574:alias/jtrusty-data-platform-tfstate-development"
use_lockfile   = true
